<app-dashboard></app-dashboard>

<div class="container">
   <h4><i class="fa fa-folder-open" aria-hidden="true"></i>Customer Orders</h4>
   <h5>Orders for <span class="text-info">{{orders?.firstname}}</span></h5>
   <span>{{orders?.address}},{{orders?.city}}</span><br>
   <span>{{orders?.state}},{{orders?.zipcode}}</span>
   
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr class="bg-info">
                <th>product</th>
                <th>Date</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{orders?.products[0].name}}</td>
                <td>{{orders?.products[0].date}}</td>
                <td>{{orders?.products[0].quantity}}</td>
                <td>{{orders?.products[0].price}}</td>
            </tr>
            <tr>
                <td>{{orders?.products[1].name}}</td>
                <td>{{orders?.products[1].date}}</td>
                <td>{{orders?.products[1].quantity}}</td>
                <td>{{orders?.products[1].price}}</td>
            </tr>
        </tbody>
    </table>
</div>

