<app-dashboard></app-dashboard>
<div class="container">
    <h4> <i class="fa fa-folder-open" aria-hidden="true"></i> All Customer Orders</h4>

    Filter by Name: 
    <input type="text" name="filter" id="filter" [(ngModel)]="filteredString">
<br><br>
    <table class="table" *ngFor="let item of details | filter:filteredString"  >
       
        <h2>{{item.firstname}}</h2>
        <tr class="bg-info">
            <th>Product</th>
            <th>Date</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        <tr>
            <td>{{item.products[0].name}}</td>
            <td>{{item.products[0].date}}</td>
            <td>{{item.products[0].quantity}}</td>
            <td>{{item.products[0].price}}</td>
            <td>{{item.products[0].total}}</td>
        </tr>
        <tr>
            <td>{{item.products[1].name}}</td>
            <td>{{item.products[1].date}}</td>
            <td>{{item.products[1].quantity}}</td>
            <td>{{item.products[1].price}}</td>
            <td>{{item.products[1].total}}</td>

        </tr>
        <tr>
            
        </tr>
    </table>
</div>
